#map, #map1
{
    width: 150%;
    height: 880px;
    background-color: gray;
    margin-bottom: 30px;
    margin: 15px;
}

.card
{
    display: flex;
    flex-direction: row;
}

.content
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

p, h2
{
    margin: 0;
}

.test{

    margin-top: 500px;
}